

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>pyIPXACT.Component &mdash; pyIPXACT v0.1 documentation</title>
  

  
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="_static/graphviz.css" type="text/css" />

  
  

  
  

  

  
  <!--[if lt IE 9]>
    <script src="_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="./" src="_static/documentation_options.js"></script>
        <script data-url_root="./" id="documentation_options" src="_static/documentation_options.js"></script>
        <script src="_static/jquery.js"></script>
        <script src="_static/underscore.js"></script>
        <script src="_static/doctools.js"></script>
    
    <script type="text/javascript" src="_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <link rel="next" title="pyIPXACT.Design" href="pyIPXACT.Design.html" />
    <link rel="prev" title="pyIPXACT.Catalog" href="pyIPXACT.Catalog.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="index.html" class="icon icon-home"> pyIPXACT
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <p class="caption"><span class="caption-text">Overview</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="Installation.html">Installation/Updates</a></li>
<li class="toctree-l1"><a class="reference internal" href="Dependencies.html">Dependencies</a></li>
</ul>
<p class="caption"><span class="caption-text">Classes</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="pyIPXACT.html">pyIPXACT</a></li>
<li class="toctree-l1"><a class="reference internal" href="pyIPXACT.Catalog.html">pyIPXACT.Catalog</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">pyIPXACT.Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="pyIPXACT.Design.html">pyIPXACT.Design</a></li>
<li class="toctree-l1"><a class="reference internal" href="pyIPXACT.DesignConfiguration.html">pyIPXACT.DesignConfiguration</a></li>
<li class="toctree-l1"><a class="reference internal" href="pyIPXACT.GeneratorChain.html">pyIPXACT.GeneratorChain</a></li>
</ul>
<p class="caption"><span class="caption-text">Appendix</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="License.html">Apache License 2.0</a></li>
<li class="toctree-l1"><a class="reference internal" href="genindex.html">Index</a></li>
<li class="toctree-l1"><a class="reference internal" href="py-modindex.html">Python Module Index</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="index.html">pyIPXACT</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          

















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>pyIPXACT.Component</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="_sources/pyIPXACT.Component.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="module-pyIPXACT.Component">
<span id="pyipxact-component"></span><h1>pyIPXACT.Component<a class="headerlink" href="#module-pyIPXACT.Component" title="Permalink to this headline">¶</a></h1>
<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Component">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Component</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">vlnv</span></span></em>, <em class="sig-param"><span class="n"><span class="pre">description</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Component"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Component" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference internal" href="pyIPXACT.html#pyIPXACT.RootElement" title="pyIPXACT.RootElement"><code class="xref py py-class docutils literal notranslate"><span class="pre">pyIPXACT.RootElement</span></code></a></p>
<p>Represents an IP-XACT components.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Component.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">vlnv</span></span></em>, <em class="sig-param"><span class="n"><span class="pre">description</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Component.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Component.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Base-constructor to set a VLNV field for all derives classes.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Component.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Component.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Component.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.BusInterface">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">BusInterface</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#BusInterface"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.BusInterface" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT bus interface.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.BusInterface.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#BusInterface.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.BusInterface.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.BusInterface.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#BusInterface.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.BusInterface.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.IndirectInterface">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">IndirectInterface</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#IndirectInterface"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.IndirectInterface" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT indirect interface.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.IndirectInterface.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#IndirectInterface.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.IndirectInterface.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.IndirectInterface.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#IndirectInterface.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.IndirectInterface.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Channel">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Channel</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Channel"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Channel" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT channel.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Channel.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Channel.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Channel.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Channel.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Channel.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Channel.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.RemapState">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">RemapState</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#RemapState"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.RemapState" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT remap state.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.RemapState.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#RemapState.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.RemapState.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.RemapState.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#RemapState.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.RemapState.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.AddressSpace">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">AddressSpace</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#AddressSpace"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.AddressSpace" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT address space.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.AddressSpace.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#AddressSpace.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.AddressSpace.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.AddressSpace.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#AddressSpace.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.AddressSpace.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.MemoryMap">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">MemoryMap</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#MemoryMap"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.MemoryMap" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT memory map.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.MemoryMap.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#MemoryMap.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.MemoryMap.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.MemoryMap.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#MemoryMap.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.MemoryMap.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Model">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Model</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Model"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Model" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT model.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Model.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Model.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Model.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Model.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Model.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Model.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.ComponentGenerator">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">ComponentGenerator</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ComponentGenerator"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ComponentGenerator" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT component generator.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.ComponentGenerator.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ComponentGenerator.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ComponentGenerator.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.ComponentGenerator.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ComponentGenerator.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ComponentGenerator.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Choice">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Choice</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Choice"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Choice" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT choice.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Choice.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Choice.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Choice.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Choice.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Choice.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Choice.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.FileSet">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">FileSet</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#FileSet"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.FileSet" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT fileset.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.FileSet.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#FileSet.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.FileSet.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.FileSet.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#FileSet.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.FileSet.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.WhiteboxElement">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">WhiteboxElement</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#WhiteboxElement"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.WhiteboxElement" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT whitebos element.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.WhiteboxElement.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#WhiteboxElement.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.WhiteboxElement.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.WhiteboxElement.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#WhiteboxElement.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.WhiteboxElement.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Cpu">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Cpu</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Cpu"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Cpu" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT cpu.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Cpu.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Cpu.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Cpu.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Cpu.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Cpu.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Cpu.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.OtherClockDriver">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">OtherClockDriver</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#OtherClockDriver"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.OtherClockDriver" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT <em>other</em> clock driver.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.OtherClockDriver.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#OtherClockDriver.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.OtherClockDriver.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.OtherClockDriver.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#OtherClockDriver.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.OtherClockDriver.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.ResetType">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">ResetType</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ResetType"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ResetType" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT reset type.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.ResetType.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ResetType.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ResetType.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.ResetType.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#ResetType.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.ResetType.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Parameter">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Parameter</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Parameter"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Parameter" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT parameter.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Parameter.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Parameter.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Parameter.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Parameter.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Parameter.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Parameter.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

<dl class="py class">
<dt class="sig sig-object py" id="pyIPXACT.Component.Assertion">
<em class="property"><span class="pre">class</span> </em><span class="sig-prename descclassname"><span class="pre">pyIPXACT.Component.</span></span><span class="sig-name descname"><span class="pre">Assertion</span></span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Assertion"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Assertion" title="Permalink to this definition">¶</a></dt>
<dd><p>Bases: <a class="reference external" href="https://docs.python.org/3/library/functions.html#object" title="(in Python v3.9)"><code class="xref py py-class docutils literal notranslate"><span class="pre">object</span></code></a></p>
<p>Represents an IP-XACT assertion.</p>
<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Assertion.__init__">
<span class="sig-name descname"><span class="pre">__init__</span></span><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Assertion.__init__"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Assertion.__init__" title="Permalink to this definition">¶</a></dt>
<dd><p>Initialize self.  See help(type(self)) for accurate signature.</p>
</dd></dl>

<dl class="py method">
<dt class="sig sig-object py" id="pyIPXACT.Component.Assertion.ToXml">
<span class="sig-name descname"><span class="pre">ToXml</span></span><span class="sig-paren">(</span><em class="sig-param"><span class="n"><span class="pre">indent</span></span><span class="o"><span class="pre">=</span></span><span class="default_value"><span class="pre">0</span></span></em><span class="sig-paren">)</span><a class="reference internal" href="_modules/pyIPXACT/Component.html#Assertion.ToXml"><span class="viewcode-link"><span class="pre">[source]</span></span></a><a class="headerlink" href="#pyIPXACT.Component.Assertion.ToXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Converts the object’s data into XML format.</p>
</dd></dl>

</dd></dl>

</div>


           </div>
           
          </div>
          <footer>
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
        <a href="pyIPXACT.Design.html" class="btn btn-neutral float-right" title="pyIPXACT.Design" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></a>
        <a href="pyIPXACT.Catalog.html" class="btn btn-neutral float-left" title="pyIPXACT.Catalog" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left" aria-hidden="true"></span> Previous</a>
    </div>

  <hr/>

  <div role="contentinfo">
    <p>
        &#169; Copyright 2007-2019, Patrick Lehmann.

    </p>
  </div>
    
    
    
    Built with <a href="https://www.sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/readthedocs/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>
        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>